<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container" id="main-container" ng-controller="LoginCtrl">
  <ul class="nav nav-tabs">
  <li class="active"><a href="#login">Login</a></li>
  <li><a href="#create" data-toggle="tab">Create Account</a></li>
  </ul>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active" id="login">
      <form class="signin-form form-horizontal">
        <h2 class="signin-form-heading">Enter Login Info</h2>
        <input type="text" class="img-rounded" placeholder="Username/Email">
        <input type="PASSWORD" class="img-rounded" placeholder="Password">
        <label class="checkbox" class="img-rounded" value="remember-me">
          <input type="checkbox" ng-model="message" class="img-rounded" value="remember-me"> Remember me
        </label>

        <div class="signin-form-btn button-container">
          <button ng-click="login_click()" class="btn mce-btn-large, btn-primary" type="submit" id="login-btn">Login
          </button>
          <!--<button class="btn mce-btn-large btn-primary" type="submit">Save</button>-->
        </div>
        <a ng-href="/About">Forgot Username or Password</a>
      </form>
    </div>
    <div class="tab-pane" id="create">
      <form class="signup-form form-inline" id="tab">
        <label>Username</label>
        <input type="text" value="" class="img-rounded"><br>
        <label>First Name</label>
        <input type="text" value="" class="img-rounded"><br>
        <label>Last Name</label>
        <input type="text" value="" class="img-rounded"><br>
        <label>Email</label>
        <input type="text" value="" class="img-rounded"><br>
        <label>Address</label>
        <textarea value="Smith" class="img-rounded"></textarea>

        <div>
          <button class="btn btn-primary" id="create-btn">Create Account</button>
        </div>
      </form>
    </div>
  </div>

</div>
